---
version: 17
---

@import "variables";
@import "utilities";

$base-nav-link-padding: .75rem;
$sm-nav-link-padding: .25rem;
$nav-link-font-size: 14px;

.clear {
  clear: both;
}

// ToC styles
.table-of-contents {
  position: relative;
  padding: 16px 8px;
  margin-top: 60px;

  li {
    list-style: none;
  }

  .nav-link {
    font-size: $nav-link-font-size;
    color: $toc-link-color;
    border-radius: 0;
    border-left: 3px solid $gds-indigo-100;

    &:hover {
      color: $link-color-nav-hover;
      text-decoration: underline;
      background-color: transparent;
      box-shadow: none;
    }

    &.active {
      color: $link-color-nav;
      background-color: transparent;
      border-color: $gds-indigo-800;

      &:hover, &:only-child {
        color: $link-color-nav-hover;
        background-color: transparent;
      }
    }
  }
}

.markdown-toc {
  padding-left: 16px;
}

.nav-pills {
  flex-wrap: nowrap;
}

// NOTE: This only allows for 10 levels.
// This should be acceptable since levels are determined by the `<h1-6>` which is less
// than 10 anyways...
@for $i from 0 to 10 {
  .nav-link.toc-level-#{$i} {
    padding-left: $base-nav-link-padding * ($i + 1);
  }
}

@media(max-width: $md-width) {
  .doc-nav {
    padding: 50px 16px 0 66px;
  }

  .table-of-contents {
    margin-top: 0;
    .nav-link {
      border-left: 0;
      padding: $sm-nav-link-padding;
    }

    h4 {
      font-size: $nav-link-font-size;
    }
  }

  .sm-collapsing {
    height: 0;
    overflow: hidden;
    transition: height .2s ease;
  }

  .sm-collapsed {
    display: none;
  }

  .toc-lg {
    display: none;
  }

  .toc-sm {
    display: block;
  }
}

// wide enough to show toc but not quick nav
@media(min-width: $md-width) {
  .header {
    top: 0;
    left: 0;
  }

  .doc-nav {
    @include sidebar-fixed;
    margin-top: 55px;

    &.toc-no-breadcrumbs {
      padding-top: 6px;
    }
  }

  .toc-lg {
    display: block;
  }

  .toc-sm {
    display: none;
  }

  .toc-separator {
    border-top: 1px solid $gds-gray-200;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
